<!doctype html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <style>
        body {
            background-color: lightyellow;
        }
    </style>
    <title>kawal covid</title>
</head>

<body>
    <div class="jumbotron jumbotron-fluid">
        </thead>
        <h2 class="text-center">Laporan COVID-19 Per Provinsi</h2>
        <table class="table mt-3 shadow, table table-striped">
            <thead>
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">Provinsi</th>
                    <th scope="col">Positif</th>
                    <th scope="col">Meninggal</th>
                    <th scope="col">Sembuh</th>
                </tr>
            </thead>
            <tbody>
                {% for i in range(0, len) %}
                <tr>
                    <th sorted="col">{{i+1}}</th>
                    <td sorted="col">{{prov[i]['attributes']['Provinsi']}}</td>
                    <td sorted="col">{{prov[i]['attributes']['Kasus_Posi']}}</td>
                    <td sorted="col">{{prov[i]['attributes']['Kasus_Meni']}}</td>
                    <td sorted="col">{{prov[i]['attributes']['Kasus_Semb']}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>


</body>

</html>